<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>employee_id</th>
				<th>first_name</th>
				<th>job_id</th>f
			</tr>
		</thead>
		<tbody>
			<tr th:each="empInfo : ${empList}">
				<td th:text="${empInfo.employeeId}"/>
				<td th:text="${empInfo.firstName}"/>
				<td th:text="${empInfo.jobId}"/>
				
			</tr>
		</tbody>
	</table>

</body>
</html>